body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playButton, #stopButton {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
